@import 'bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
}

/* Header styles */

.header {
  background-color: rgba(104, 205, 205, 0.551);
  padding: 10px 0px;
  margin-bottom: 20px;
}
.header__logo img {
  width: 100px;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo {
  font-size: 24px;
}

.header__clock {
  font-size: 18px;
}

/* TODO styles */

.todos {
  padding: 50px 0px;
}

.todo__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.todo__card {
  text-align: center;
  border: 2px solid rgba(104, 205, 205, 0.551);
  border-radius: 10px;
  height: 80vh;
  position: relative;
  box-shadow: 10px 10px 10px rgba(59, 70, 70, 0.551);
}

.todo__top {
  background-color: rgba(104, 205, 205, 0.551);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.todo__title {
  font-size: 20px;
}

.todo__content {
  padding: 10px;
  font-size: 15px;
}

.todo-item {
  text-align: left;
  background-color: rgb(174, 255, 178);
  border-radius: 15px;
  padding: 20px;
}

.todo-item__title {
  margin-bottom: 15px;
}
.todo-item__description {
  margin-bottom: 15px;
}
.todo-item__user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.todo-item__buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addTodoBtn {
  width: 100%;
  cursor: pointer;
  color: black;
  border: none;
  background-color: rgba(104, 205, 205, 0.551);
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  padding: 15px 0px;
}

.todo-item__edit-btn,
.todo-item__delete-btn,
.todo-item__move-btn {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.todo__content {
  overflow-y: auto; /* Применить прокрутку только по вертикали */
  height: calc(100% - 130px);
}

#cardSelect {
  width: auto;
}
/* модальное окно */
/* Стили для модального окна */
