.todo-item {
  text-align: left;
  background-color: #ffdab9;
  border-radius: 15px;
  padding: 20px;
  transition: transform 0.1s ease-in-out;
  margin: 10px 0px;

  &__title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
  }

  &__description {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__date {
    text-align: right;
  }

  &__buttoms {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttom-edit,
    .buttom-delete {
      margin-right: 5px;
      padding: 7px 12px;
      border: none;
      border-radius: 6px;
      box-shadow: 2px 2px 2px rgba(59, 70, 70, 0.551);
      cursor: pointer;
      background-color: whitesmoke;
    }

    .buttom-edit:hover {
      background-color: #ecee90af;
    }

    .buttom-delete:hover {
      background-color: rgba(255, 0, 0, 0.622);
    }

    .cardSelector {
      padding: 6px 15px;
      border: none;
      border-radius: 6px;
      box-shadow: 2px 2px 2px rgba(59, 70, 70, 0.551);
      cursor: pointer;
      text-align: center;
      background-color: whitesmoke;
    }
  }
}
